a {
    width: 75px;
    height: 30px;
    margin-left: 100px;

    img {
        width: 75px;
        height: 30px;
        cursor: pointer;
    }
}

.changeLanguageAndMenu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 100px;
}

.menuIcon {
    width: 44px;
    height: 38px;
    cursor: pointer;
}


/* Responsiveness */
@media screen and (max-width: 1000px) {
    a {
        margin-left: 25px;
    }

    .changeLanguageAndMenu {
        gap: 25px;
        margin-right: 25px;
    }
}