a {
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

img {
    cursor: pointer;

    &:first-child {
        width: 75px;
        height: 30px;
        margin-left: 100px;
    }

    &:last-child {
        margin-right: 100px;
    }
}

.changeLanguageAndMenu {
    display: flex;
    align-items: center;
    gap: 50px;
}