<h1 data-aos="fade-up">{{ "frontendDeveloper" | translate }}</h1>

<div class="borderlineAndName" data-aos="fade-up" data-aos-delay="500">
    <div class="borderline"></div>
    <h2>Davide Religioso</h2>
</div>

<a href="#contact" class="sendAMessageButton" data-aos="fade-up" data-aos-delay="3000" data-aos-duration="2500">Send a message</a>

<div class="emailDiv" data-aos="fade-right" data-aos-delay="3000" data-aos-duration="2500">
    <a href="#contact" class="email">mail&#64;davide-religioso.com</a>
</div>

<div class="scrollDownDiv" data-aos="fade-up" data-aos-delay="3000" data-aos-duration="3000">
    <img src="assets/img/scrollDownArrow.png">
    <a href="#aboutMe" class="scrollDownText">{{ "scrollDown" | translate }}</a>
</div>