<h2>Say Hi!</h2>

<div>
    <h3>Want to discuss a new project?</h3>
    <h4>Say hello! Let's discuss your ideas and make it happen.</h4>
</div>

<!-- <div class="contactForm">
    <form>
        <label for="name">Your name</label>
        <input type="text" id="name" name="name" placeholder="Your name">
        
        <label for="email">Your email</label>
        <input type="email" id="email" name="email" placeholder="Your email">
        
        <label for="message">Your message</label>
        <textarea id="message" name="message" placeholder="Your message"></textarea>

        <input type="submit" value="Submit">
    </form>
</div> -->