h2 {
    color: #FFFCF3;
    font-family: "Syne";
    font-size: 56px;
    font-weight: 800;
    margin: 0;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 104px;
    top: 100px;
    transition: all ease-in-out 125ms;

    &:hover {
        color: #FF9900;
        transition: all ease-in-out 125ms;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #FF9900;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-bottom: 15px;
}

h4 {
    color: #FFFCF3;
    font-weight: 400;
    font-size: 23px;
    margin: 0;
    margin-bottom: 15px;
}

img {
    position: absolute;
    right: 100px;
    bottom: 0;
    transition: all ease-in-out 125ms;

    &:hover {
        cursor: pointer;
        transform: translateY(-20px);
        transition: all ease-in-out 250ms;
    }
}