<div class="formContainer">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <label class="d-none" for="name">Your name</label>
        <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required>
        
        <label class="d-none" for="email">Your email</label>
        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        
        <label class="d-none" for="message">Your message</label>
        <textarea #message="ngModel" min-length="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" required></textarea>
        @if (!message.valid && message.touched) {
            <span>Please enter a message</span>
        }

        <div class="privacyPolicy">
            <input type="checkbox">
            <span>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</span>
        </div>

        <input class="submitButton" type="submit" value="Send message">
    </form>
</div>