app-header {
    background-color: #FFFCF3;
    height: 92px;
    width: 100%;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

app-menu {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 96px;
    height: 100vh;
    width: 100%;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 9;
    background-color: #FFFCF3;
    top: -100%;
}

app-landingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

app-about-me {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 92px;
}

app-arrow-right {
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    margin: 30px auto;
    max-width: 1440px;
}

app-my-skills {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 120px;
}

app-arrow-left {
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    margin: 30px auto;
    max-width: 1440px;
}

app-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 92px;
}

app-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
    margin-left: -100px;
    margin-right: -100px;
    position: relative;
}

app-footer {
    display: block;
    height: 150px;
    background-color: black;
    margin-left: -100px;
    margin-right: -100px;
    position: relative;
}

app-privacy-policy {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

app-legal-notice {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

app-sent-message {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Responsiveness */
@media screen and (max-width: 1000px) {
    app-header {
        margin-left: -25px;
        margin-right: -25px;
    }

    app-menu {
        margin-left: -25px;
        margin-right: -25px;
        gap: 30px;
    }

    app-arrow-right {
        height: 150px;
    }

    app-arrow-left {
        height: 150px;
    }

    app-contact {
        margin-left: -25px;
        margin-right: -25px;
        margin-top: -30px;
    }

    app-footer {
        margin-left: -25px;
        margin-right: -25px;
    }
}

@media screen and (max-width: 600px) {
    app-about-me {
        height: auto;
    }

    app-arrow-right {
        height: 125px;
        justify-content: center;
    }

    app-arrow-left {
        height: 125px;
        justify-content: center;
    }

    app-footer {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}