app-header {
    background-color: #FFFCF3;
    height: 92px;
    width: 100%;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

app-landingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

app-arrow-right {
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

app-my-skills {
    height: calc(100vh - 126px);
    display: flex;
    justify-content: center;
    border: 4px solid black;
    margin-top: 34px;
}

app-arrow-left {
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

app-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 92px);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
    margin-left: -100px;
    margin-right: -100px;
    position: relative;
}

app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
    margin-left: -100px;
    margin-right: -100px;
    position: relative;
    gap: 20px;
}

app-menu {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 96px;
    height: 100vh;
    width: 100%;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 9;
    background-color: #FFFCF3;
    top: -100%;
}