app-header {
    background-color: #FFFCF3;
    height: 92px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

app-landingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

app-arrow {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}