<router-outlet></router-outlet>

<app-header></app-header>

<app-menu id="menu"></app-menu>

<app-landingPage id="landingPage"></app-landingPage>

<app-about-me id="aboutMe"></app-about-me>

<app-arrow-right></app-arrow-right>

<app-my-skills id="mySkills"></app-my-skills>

<app-arrow-left></app-arrow-left>

<app-portfolio id="portfolio"></app-portfolio>

<app-arrow-right></app-arrow-right>

<app-contact id="contact" style="background-image: url('assets/img/contactBackground.png')"></app-contact>

<app-footer></app-footer>

<app-privacy-policy id="privacyPolicy" (click)="closePopUp('privacyPolicy')"></app-privacy-policy>

<app-legal-notice id="legalNotice" (click)="closePopUp('legalNotice')"></app-legal-notice>