<div class="legalNoticePopUp" (click)="doNotClose($event)">
    <h1>Impressum</h1>
    <h2 id="m46">Diensteanbieter</h2>
    Davide Religioso <br>
    Paprikastraße 58 <br>
    70619 Stuttgart <br>
    Deutschland

    <h2 id="m56">Kontaktmöglichkeiten</h2>
    E-Mail-Adresse: <a href="mailto:davide.religioso@gmx.de">davide.religioso&#64;gmx.de</a> <br>
    Telefon: 01602043995

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
            Schwenke</a>
    </p>
</div>