<div class="legalNoticePopUp" (click)="doNotClose($event)">
    <img src="assets/img/close.png" (click)="this.portfolioService.closePopUp('legalNotice')">

    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br>Davide Religioso<br>Frontend-Entwickler</p>
    <h3>Postanschrift:</h3>
    <p>Paprikastraße 58<br>70619 Stuttgart<br></p>
    <h3>Kontakt:</h3>
    <p>Telefon: 0160 2043995<br>E-Mail: davide.religioso&#64;gmx.de</p>
    <p></p>
    <p><br></p>
    <p></p>
    <h2>Hinweise zur Website</h2>
    <p></p>
    <h2>Information gemäß § 36 VSBG</h2>
    <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
        Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
    <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>
    <p></p>
    <p><em>Das Impressum wurde mit dem <a
                href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der activeMind
                AG</a> erstellt.</em></p>
</div>