.legalNotice {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 92px;
    padding-bottom: 92px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

p {
    font-size: 32px;
    margin: 0;
}


/* Responsiveness */
@media screen and (max-width: 1600px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.17em;
    }
    
    p {
        font-size: 16px;
    }
}