.legalNoticePopUp {
    max-height: 550px;
    max-width: 850px;
    border: solid 3px black;
    padding: 20px;
    margin: 20px;
    background: #FFFCF3;
    position: relative;
}

img {
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all ease-in-out 125ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all ease-in-out 125ms;
    }
}