<div class="iconsList">
    <h2>{{ "mySkills" | translate }}</h2>

    @for (skill of skills; track $index) {
        <div class="skillDiv">
            <img [src]="skill.icon">
            <span><b>{{ skill.name }}</b></span>
        </div>
    }
    
    <div class="growthMindsetDiv">
        @if (popupOpen) {
            <div @fadeIn class="popup">
                <span>{{ "mySkillsPopupSpan" | translate }}</span>

                <p>{{ "mySkillsPopupP" | translate }}</p>

                <div>
                    <div class="interestedSkill">
                        <img src="assets/skillIcons/react.png">
                        <p>React</p>
                    </div>

                    <div class="interestedSkill">
                        <img src="assets/skillIcons/vueJs.png">
                        <p>Vue.js</p>
                    </div>
                </div>
            </div>
        }

        <img src="assets/skillIcons/growthMindset.png" (mouseover)="showPopup()" (mouseleave)="closePopup()">
        <span><b>Growth Mindset</b></span>
    </div>
</div>