@use "./fonts.scss" as *;
// @import '~aos/dist/aos.css';
@import '../node_modules/aos/dist/aos.css';

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;
    margin: 0;
    background-color: #FFFCF3;
    font-family: 'Overpass';
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e5e4e5;
    }

    &::-webkit-scrollbar-thumb {
        background: #CFCCD1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #abaaac;
    }
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}


/* Responsiveness */
@media screen and (max-width: 1440px) {
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}